//Headers

.header-nav {
  width: 100%;
  height: $header-height;
  background: $vg-top;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 3em;
}

.header-nav__logo {
  height: 40%;
}

.header-nav__menu {
  font-size: $fs-sm;
  & > a {
    font-weight: $fw-light;
    margin-right: 1.5em;
    &.current {
      font-weight: $fw-medium;
      color: $palette-white;
    }
  }
}
